  .product{
     font-weight: bold;
     font-size: 24px;
  }

  .Availiability{
    color: rgb(0, 118, 0);
    font-weight: bold;
  }

  .add-to-cart-button{
    background-color: rgb(249, 217, 76);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;

  }

  .buy-now-button{
     background-color: rgb(255, 164, 28);
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;

  }

  .link:hover{
    color: rgb(224, 75, 21);
  }

  .add-to-cart-button:hover{
    background-color: rgb(226, 148, 31);
  }
  .add-to-cart-button:active{
    opacity: 0.5;
  }

  .buy-now-button:hover{
    background-color: rgb(250, 137, 0);
  }

  .buy-now-button:active{
    opacity: 0.5;
  }