 p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: montserrat;
  }

  .model{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
  }

  .details{
    font-size: 25px;
  }

  .order{
    text-decoration: underline;
  }