  p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      div{
        background-color: rgb(70, 67, 67);
        width: 300px;
        height: 100px;
      }
      .title{
        color: white;
        padding-left: 30px;
        padding-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;

      }
      .sub-title{
        color: rgb(167, 163, 163);
        padding-left:30px ;
      }