.cat-img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 25px;
        vertical-align: middle;
        margin-right: 5px;
      }
      .text-box{
        font-size: 18px;
        border: none;
        width: 300px;
        vertical-align: middle;
      }

      .tweet-btn{
        background-color: rgb(29, 155, 240);
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: none;
        font-size: 15px;
        border-radius: 20px;
        width: 80px;
        font-weight: bold;
        vertical-align: middle;

      }

      .box{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        width: 450px;
        border-radius: 6px;
      }