 input{
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        font-size: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(200, 200, 200);

      }