p{
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: Arial;
        color: rgb(100, 100, 100);
        
      }
      .email{
        margin-top: 0px;
        margin-bottom: 2px;
      }
      .text-box{
         padding-top: 7px;
         padding-bottom: 7px; 
         font-size: 16px;
         width: 400px; 
         border-style: solid;
         border-color: rgb(100, 100, 100); 
         border-radius: 5px;
         margin-bottom: 20px; 
      }
      .agreement{
        font-size: 16px;
        margin-bottom: 20px;
      }

      .agree-btn{
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        font-size: 20px;
        width: 400px;
        border-radius: 30px;
      }