   .google{
        display: block;
        width: 200px;
        margin-left: 150px;
         margin-bottom: 10px;
      }

      .search-box{
        border: none;
        width:500px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        border-radius: 30px;
      }